In [24]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))

enter the first number56
enter the second number78

In [25]:
x+y

134

In [26]:
x-y

-22

In [27]:
x/y

0.717948717948718

In [28]:
x*y

4368

In [41]:
P=int(input("enter the principal amount"))
N=int(input("eter the number of years"))
R=int(input("enter the rate of intrest"))

enter the principal amount80000000
eter the number of years5
enter the rate of intrest2

In [42]:
I=P*N*R

In [43]:
print(I)

800000000

In [51]:
x=int(input("enter a number"))
if x>50:
  print("you passed")
if x<50:
    print("you failed")

enter a number49
you failed

In [63]:
x=int(input("enter your salary"))
if x<250000:
  print("your not taxable")
if  250000<x<500000:
  print("your taxable")
  print((x-200000)*10/100)

enter your salary300000
your taxable
10000.0